<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <!-- 공통코드 -->   
    <bean id="codeComCtr" class="kr.co.jmena.www.web.codeCom.Ctr.CodeComCtr" />
    <bean id="codeComBiz" class="kr.co.jmena.www.web.codeCom.Biz.CodeComBiz" />
    <bean id="codeComDao" class="kr.co.jmena.www.web.codeCom.Dao.CodeComDao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 로그인 -->   
    <bean id="mainCtr" class="kr.co.jmena.www.web.home.main.Ctr.MainCtr" />
    <bean id="mainBiz" class="kr.co.jmena.www.web.home.main.Biz.MainBiz" />
    <bean id="mainDao" class="kr.co.jmena.www.web.home.main.Dao.MainDao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 매입 관리 -->   
    <bean id="MM011001Ctr" class="kr.co.jmena.www.web.home.buyingMng.Ctr.MM011001Ctr" />
    <bean id="MM011001Biz" class="kr.co.jmena.www.web.home.buyingMng.Biz.MM011001Biz" />
    <bean id="MM011001Dao" class="kr.co.jmena.www.web.home.buyingMng.Dao.MM011001Dao"  p:sqlMapClient-ref="sqlMapClient" />

    <bean id="MM012001Ctr" class="kr.co.jmena.www.web.home.buyingMng.Ctr.MM012001Ctr" />
    <bean id="MM012001Biz" class="kr.co.jmena.www.web.home.buyingMng.Biz.MM012001Biz" />
    <bean id="MM012001Dao" class="kr.co.jmena.www.web.home.buyingMng.Dao.MM012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="MM012002Ctr" class="kr.co.jmena.www.web.home.buyingMng.Ctr.MM012002Ctr" />
    <bean id="MM012002Biz" class="kr.co.jmena.www.web.home.buyingMng.Biz.MM012002Biz" />
    <bean id="MM012002Dao" class="kr.co.jmena.www.web.home.buyingMng.Dao.MM012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 수당관리 -->   
    <bean id="EP011001Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP011001Ctr" />
    <bean id="EP011001Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP011001Biz" />
    <bean id="EP011001Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="EP011002Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP011002Ctr" />
    <bean id="EP011002Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP011002Biz" />
    <bean id="EP011002Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP011002Dao"  p:sqlMapClient-ref="sqlMapClient" />

    <bean id="EP012001Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP012001Ctr" />
    <bean id="EP012001Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP012001Biz" />
    <bean id="EP012001Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="EP012002Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP012002Ctr" />
    <bean id="EP012002Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP012002Biz" />
    <bean id="EP012002Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="EP012003Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP012003Ctr" />
    <bean id="EP012003Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP012003Biz" />
    <bean id="EP012003Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP012003Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 인사관리 -->
    <bean id="HR011001Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR011001Ctr" />
    <bean id="HR011001Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR011001Biz" />
    <bean id="HR011001Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR011001Dao"  p:sqlMapClient-ref="sqlMapClient" />

    <bean id="HR012001Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR012001Ctr" />
    <bean id="HR012001Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR012001Biz" />
    <bean id="HR012001Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="HR012002Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR012002Ctr" />
    <bean id="HR012002Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR012002Biz" />
    <bean id="HR012002Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="HR012003Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR012003Ctr" />
    <bean id="HR012003Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR012003Biz" />
    <bean id="HR012003Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR012003Dao"  p:sqlMapClient-ref="sqlMapClient" />

	<!-- 매출 관리 -->
    <bean id="SA011001Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011001Ctr" />
    <bean id="SA011001Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011001Biz" />
    <bean id="SA011001Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA011002Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011002Ctr" />
    <bean id="SA011002Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011002Biz" />
    <bean id="SA011002Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA011003Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011003Ctr" />
    <bean id="SA011003Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011003Biz" />
    <bean id="SA011003Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011003Dao"  p:sqlMapClient-ref="sqlMapClient" />

    <bean id="SA012001Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012001Ctr" />
    <bean id="SA012001Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012001Biz" />
    <bean id="SA012001Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012002Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012002Ctr" />
    <bean id="SA012002Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012002Biz" />
    <bean id="SA012002Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012003Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012003Ctr" />
    <bean id="SA012003Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012003Biz" />
    <bean id="SA012003Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012003Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012004Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012004Ctr" />
    <bean id="SA012004Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012004Biz" />
    <bean id="SA012004Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012004Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012005Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012005Ctr" />
    <bean id="SA012005Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012005Biz" />
    <bean id="SA012005Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012005Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012006Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012006Ctr" />
    <bean id="SA012006Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012006Biz" />
    <bean id="SA012006Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012006Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012007Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012007Ctr" />
    <bean id="SA012007Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012007Biz" />
    <bean id="SA012007Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012007Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012008Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012008Ctr" />
    <bean id="SA012008Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012008Biz" />
    <bean id="SA012008Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012008Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012009Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012009Ctr" />
    <bean id="SA012009Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012009Biz" />
    <bean id="SA012009Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012009Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <bean id="SA012010Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012010Ctr" />
    <bean id="SA012010Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012010Biz" />
    <bean id="SA012010Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012010Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 시스템 및 메뉴 관리 -->
    <bean id="SY011001Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011001Ctr" />
    <bean id="SY011001Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011001Biz" />
    <bean id="SY011001Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <bean id="SY011002Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011002Ctr" />
    <bean id="SY011002Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011002Biz" />
    <bean id="SY011002Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <bean id="SY011003Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011003Ctr" />
    <bean id="SY011003Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011003Biz" />
    <bean id="SY011003Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011003Dao"  p:sqlMapClient-ref="sqlMapClient" />
   
    <bean id="SY011004Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011004Ctr" />
    <bean id="SY011004Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011004Biz" />
    <bean id="SY011004Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011004Dao"  p:sqlMapClient-ref="sqlMapClient" />
   
    <bean id="SY011005Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011005Ctr" />
    <bean id="SY011005Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011005Biz" />
    <bean id="SY011005Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011005Dao"  p:sqlMapClient-ref="sqlMapClient" />

    <bean id="SY011006Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011006Ctr" />
    <bean id="SY011006Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011006Biz" />
    <bean id="SY011006Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011006Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <bean id="SY021001Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY021001Ctr" />
    <bean id="SY021001Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY021001Biz" />
    <bean id="SY021001Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY021001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <bean id="SY021002Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY021002Ctr" />
    <bean id="SY021002Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY021002Biz" />
    <bean id="SY021002Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY021002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <bean id="SY021003Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY021003Ctr" />
    <bean id="SY021003Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY021003Biz" />
    <bean id="SY021003Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY021003Dao"  p:sqlMapClient-ref="sqlMapClient" />

</beans>