<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <!-- 공통코드 -->   
    <bean id="codeComCtr" class="kr.co.jmena.www.web.codeCom.Ctr.CodeComCtr" />
    <bean id="codeComBiz" class="kr.co.jmena.www.web.codeCom.Biz.CodeComBiz" />
    <bean id="codeComDao" class="kr.co.jmena.www.web.codeCom.Dao.CodeComDao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 로그인 -->   
    <bean id="mainCtr" class="kr.co.jmena.www.web.home.main.Ctr.MainCtr" />
    <bean id="mainBiz" class="kr.co.jmena.www.web.home.main.Biz.MainBiz" />
    <bean id="mainDao" class="kr.co.jmena.www.web.home.main.Dao.MainDao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 시스템관리 : 시스템 및 메뉴 관리 -->
    <bean id="SY011001Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011001Ctr" />
    <bean id="SY011001Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011001Biz" />
    <bean id="SY011001Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 시스템관리 : 프로그램 관리 -->
    <bean id="SY011002Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011002Ctr" />
    <bean id="SY011002Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011002Biz" />
    <bean id="SY011002Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 시스템관리 : 사용자 관리 -->
    <bean id="SY011003Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011003Ctr" />
    <bean id="SY011003Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011003Biz" />
    <bean id="SY011003Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011003Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 시스템관리 : 사용자 권한 관리 -->
    <bean id="SY011004Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011004Ctr" />
    <bean id="SY011004Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011004Biz" />
    <bean id="SY011004Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011004Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 시스템관리 : 공통코드 관리 -->
    <bean id="SY011005Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011005Ctr" />
    <bean id="SY011005Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011005Biz" />
    <bean id="SY011005Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011005Dao"  p:sqlMapClient-ref="sqlMapClient" />
	<!-- 시스템관리 : 금융기관 관리 -->
    <bean id="SY011006Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY011006Ctr" />
    <bean id="SY011006Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY011006Biz" />
    <bean id="SY011006Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY011006Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 시스템관리 : 사업자 관리 -->
    <bean id="SY021001Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY021001Ctr" />
    <bean id="SY021001Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY021001Biz" />
    <bean id="SY021001Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY021001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 시스템관리 : 지사 및 부서 관리 -->
    <bean id="SY021002Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY021002Ctr" />
    <bean id="SY021002Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY021002Biz" />
    <bean id="SY021002Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY021002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 시스템관리 : 지역 관리 -->
    <bean id="SY021003Ctr" class="kr.co.jmena.www.web.home.systemMng.Ctr.SY021003Ctr" />
    <bean id="SY021003Biz" class="kr.co.jmena.www.web.home.systemMng.Biz.SY021003Biz" />
    <bean id="SY021003Dao" class="kr.co.jmena.www.web.home.systemMng.Dao.SY021003Dao"  p:sqlMapClient-ref="sqlMapClient" />    
    
    <!-- 매입관리 : 매입 관리 -->   
    <bean id="MM011001Ctr" class="kr.co.jmena.www.web.home.buyingMng.Ctr.MM011001Ctr" />
    <bean id="MM011001Biz" class="kr.co.jmena.www.web.home.buyingMng.Biz.MM011001Biz" />
    <bean id="MM011001Dao" class="kr.co.jmena.www.web.home.buyingMng.Dao.MM011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
	<!-- 매입관리 : 원지주 잔금현황 -->
    <bean id="MM012001Ctr" class="kr.co.jmena.www.web.home.buyingMng.Ctr.MM012001Ctr" />
    <bean id="MM012001Biz" class="kr.co.jmena.www.web.home.buyingMng.Biz.MM012001Biz" />
    <bean id="MM012001Dao" class="kr.co.jmena.www.web.home.buyingMng.Dao.MM012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매입관리 : 매입현황 -->
    <bean id="MM012002Ctr" class="kr.co.jmena.www.web.home.buyingMng.Ctr.MM012002Ctr" />
    <bean id="MM012002Biz" class="kr.co.jmena.www.web.home.buyingMng.Biz.MM012002Biz" />
    <bean id="MM012002Dao" class="kr.co.jmena.www.web.home.buyingMng.Dao.MM012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매입관리 : 계약현황 -->
    <bean id="MM012003Ctr" class="kr.co.jmena.www.web.home.buyingMng.Ctr.MM012003Ctr" />
    <bean id="MM012003Biz" class="kr.co.jmena.www.web.home.buyingMng.Biz.MM012003Biz" />
    <bean id="MM012003Dao" class="kr.co.jmena.www.web.home.buyingMng.Dao.MM012003Dao"  p:sqlMapClient-ref="sqlMapClient" />

	<!-- 매출관리 : 매출관리 - 일반 -->
    <bean id="SA011001Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011001Ctr" />
    <bean id="SA011001Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011001Biz" />
    <bean id="SA011001Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 매출관리 - 소비대차 -->
    <bean id="SA011002Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011002Ctr" />
    <bean id="SA011002Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011002Biz" />
    <bean id="SA011002Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 입금관리 -->
    <bean id="SA011003Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011003Ctr" />
    <bean id="SA011003Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011003Biz" />
    <bean id="SA011003Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011003Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : (신)입금관리 -->
    <bean id="SA011004Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011004Ctr" />
    <bean id="SA011004Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011004Biz" />
    <bean id="SA011004Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011004Dao" p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : (신)매출관리 - 일반 -->
	<bean id="SA011005Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011005Ctr" />
    <bean id="SA011005Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011005Biz" />
    <bean id="SA011005Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011005Dao" p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 해약관리 -->
	<bean id="SA011006Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA011006Ctr" />
    <bean id="SA011006Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA011006Biz" />
    <bean id="SA011006Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA011006Dao" p:sqlMapClient-ref="sqlMapClient" />
	<!-- 매출관리 : 매출현황 - 담당자별 -->
    <bean id="SA012001Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012001Ctr" />
    <bean id="SA012001Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012001Biz" />
    <bean id="SA012001Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 매출잔금현황 -->
    <bean id="SA012002Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012002Ctr" />
    <bean id="SA012002Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012002Biz" />
    <bean id="SA012002Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 매출현황 - 소비대차 -->
    <bean id="SA012003Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012003Ctr" />
    <bean id="SA012003Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012003Biz" />
    <bean id="SA012003Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012003Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 은행입금현황 -->
    <bean id="SA012004Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012004Ctr" />
    <bean id="SA012004Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012004Biz" />
    <bean id="SA012004Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012004Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 입금처리현황 -->
    <bean id="SA012005Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012005Ctr" />
    <bean id="SA012005Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012005Biz" />
    <bean id="SA012005Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012005Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 매출현황 - 잔금일기준 -->
    <bean id="SA012006Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012006Ctr" />
    <bean id="SA012006Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012006Biz" />
    <bean id="SA012006Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012006Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 잔여 물건지 현황 -->
    <bean id="SA012007Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012007Ctr" />
    <bean id="SA012007Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012007Biz" />
    <bean id="SA012007Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012007Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 재고장 -->
    <bean id="SA012008Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012008Ctr" />
    <bean id="SA012008Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012008Biz" />
    <bean id="SA012008Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012008Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 지사 일보 -->
    <bean id="SA012009Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012009Ctr" />
    <bean id="SA012009Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012009Biz" />
    <bean id="SA012009Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012009Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 위탁매출 - 위탁수수료 현황 -->
    <bean id="SA012010Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012010Ctr" />
    <bean id="SA012010Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012010Biz" />
    <bean id="SA012010Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012010Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 매출현황 -->
    <bean id="SA012011Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012011Ctr" />
    <bean id="SA012011Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012011Biz" />
    <bean id="SA012011Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012011Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 등기현황 -->
    <bean id="SA012012Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012012Ctr" />
    <bean id="SA012012Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012012Biz" />
    <bean id="SA012012Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012012Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 매출관리 : 해약현황 -->
    <bean id="SA012013Ctr" class="kr.co.jmena.www.web.home.saleMng.Ctr.SA012013Ctr" />
    <bean id="SA012013Biz" class="kr.co.jmena.www.web.home.saleMng.Biz.SA012013Biz" />
    <bean id="SA012013Dao" class="kr.co.jmena.www.web.home.saleMng.Dao.SA012013Dao"  p:sqlMapClient-ref="sqlMapClient" />    
        
    <!-- 수당관리 : 수당관리 -->   
    <bean id="EP011001Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP011001Ctr" />
    <bean id="EP011001Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP011001Biz" />
    <bean id="EP011001Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 수당관리 : 급여관리 -->
    <bean id="EP011002Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP011002Ctr" />
    <bean id="EP011002Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP011002Biz" />
    <bean id="EP011002Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP011002Dao"  p:sqlMapClient-ref="sqlMapClient" />
	<!-- 수당관리 : 월 소득 및 부가세 신고내역 -->
    <bean id="EP012001Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP012001Ctr" />
    <bean id="EP012001Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP012001Biz" />
    <bean id="EP012001Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 수당관리 : 월 수령액 확인서 -->
    <bean id="EP012002Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP012002Ctr" />
    <bean id="EP012002Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP012002Biz" />
    <bean id="EP012002Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 수당관리 : * -->
    <bean id="EP012003Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP012003Ctr" />
    <bean id="EP012003Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP012003Biz" />
    <bean id="EP012003Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP012003Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 수당관리 : 소득세 및 부가세신고 현황 -->  
    <bean id="EP012004Ctr" class="kr.co.jmena.www.web.home.expayMng.Ctr.EP012004Ctr" />
    <bean id="EP012004Biz" class="kr.co.jmena.www.web.home.expayMng.Biz.EP012004Biz" />
    <bean id="EP012004Dao" class="kr.co.jmena.www.web.home.expayMng.Dao.EP012004Dao"  p:sqlMapClient-ref="sqlMapClient" />
    
    <!-- 인사관리 : 인사 기본 정보 관리 -->
    <bean id="HR011001Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR011001Ctr" />
    <bean id="HR011001Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR011001Biz" />
    <bean id="HR011001Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR011001Dao"  p:sqlMapClient-ref="sqlMapClient" />
	<!-- 인사관리 : 입사자 현황 -->
    <bean id="HR012001Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR012001Ctr" />
    <bean id="HR012001Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR012001Biz" />
    <bean id="HR012001Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR012001Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 인사관리 : 퇴사자 현황 -->
    <bean id="HR012002Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR012002Ctr" />
    <bean id="HR012002Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR012002Biz" />
    <bean id="HR012002Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR012002Dao"  p:sqlMapClient-ref="sqlMapClient" />
    <!-- 인사관리 : 인원현황 -->
    <bean id="HR012003Ctr" class="kr.co.jmena.www.web.home.personMng.Ctr.HR012003Ctr" />
    <bean id="HR012003Biz" class="kr.co.jmena.www.web.home.personMng.Biz.HR012003Biz" />
    <bean id="HR012003Dao" class="kr.co.jmena.www.web.home.personMng.Dao.HR012003Dao"  p:sqlMapClient-ref="sqlMapClient" />

</beans>