@charset "utf-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video{word-wrap:break-word;margin:0;padding:0;border:0;font-size:12px}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio[controls],canvas,video{display:block;width:100%}
label,input,button,a,span{line-height:1.6}
body,button,input,select{font-size:0.87em;line-height:1.6;font-family:"ngn","nanumgothic","shm","돋움",dotum,"Lucida Grande",sans-serif;color:rgba(61, 61, 61, 1)}
hr{display:none;height:0;}
a,a:hover{text-decoration:none;color:#333}
a:focus,button:focus{outline:thin dotted}
a:active,a:hover,button:active,button:hover{outline:0 none}
em,address{font-style:normal}
acronym,abbr{cursor:help}
abbr[title]{border-bottom:1px dotted}
ul,ol{list-style:none;list-style-image:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
label,select,input,button{vertical-align:middle}
button{border:0;cursor:pointer}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:baseline}
button,input{line-height:normal}
button,select{text-transform:none}
button[disabled],html input[disabled]{cursor:default}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer}
select{margin:0;padding:0;border:1px solid #c9c9c9;line-height:1}
img{max-width:100%;border:0;vertical-align:top}
html{overflow-y:scroll}
html,body{width:100%;height:100%}
i{font-style:normal}

/*
html{overflow:hidden}
body{position:relative;overflow-y:scroll}
*/
/* link style */
a:link,a:visited{color:#666} 
a:hover,a:active{color:#000}
/*a[target="_blank"]{padding-right:18px;background:url(/img/vk/kor/bz15/common/ico_window.gif) no-repeat 100% 0}*/

/* table */
table{table-layout:fixed;border-collapse:collapse;border-spacing:0}
caption{position:relative;visibility:hidden;height:0;line-height:0}

.blueone {
  border-collapse: collapse;
}  
.blueone th {
  color: #669;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.blueone td {
  color: #669;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.blueone tr:hover td {
  color: #004;
}



/* form, input set */
form label,form input,form select,form span,form img,form em,form a{display:inline-block;margin-top:0;vertical-align:middle}
input,textarea,select{font-size:1em;vertical-align:baseline;vertical-align:middle}
input[type="checkbox"],input[type="radio"]{margin:0;padding:0;width:14px;height:14px}
input[type="checkbox"]+label,input[type="radio"]+label{margin:0 10px 0 3px;vertical-align:middle;cursor:pointer}
input[type="text"],input[type="password"],input[type="file"],input[type="search"]{width:100px;height:16px;padding:0px 0px;margin:0;border:1px solid #adadad;border-top-color:#adadad}
input[type="file"]{height:26px;padding:0 5px;font-size:0.929em;border:1px solid #adadad}
input[readonly="readonly"],input[readonly],input[disabled="disabled"],input[disabled]{border:1px solid #adadad;background:#f3f3f3;color:#928881}
input[type="button"],input[type="reset"],input[type="submit"]{min-width:20px;width:auto;height:28px;padding:4px 16px;margin:0;border:1px solid #575757;background:#575757;font-weight:400;line-height:1em;color:#fff}
textarea{overflow:auto;padding:0;border:1px solid #adadad;vertical-align:top}
select{height:16px;padding:0px;margin:0;border:1px solid #adadad;border-top-color:#adadad}
legend{position:absolute;visibility:hidden;left:0;top:0;width:1px;height:1px;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px;border:0;white-space:normal}

/* Element Hidden Type */
.skip{position:absolute;top:0;height:0;visibility:hidden;font-size:0}
.hide{position:fixed;top:-10000px;left:-10000px}

/* align style */
.clear{clear:both}
.clearfix{display:inline-block;width:100%}
.clearfix:after{content:"";display:block;visibility:hidden;clear:both}
.ft_left{display:block;float:left}
.ft_right{display:block;float:right}
.left {text-align:left}
.right{text-align:right}
.center {text-align:center}
.inline{display:inline}
.vtop{vertical-align:middle}
.vmiddle{vertical-align:middle}
.vtop,.vtop{vertical-align:top}
.vbottom,.vbottom{vertical-align:bottom}

/* no style */
.no_mar{margin-right:0 !important}
.no_padd{padding:0 !important}
.no_bul{padding-left:0 !important;background:none !important}
.no_bold{font-weight:normal !important}
.no_color{color:#666666 !important}
.no_bg{background:none !important}
.no_dis{position:absolute;visibility:hidden;height:0;font-size:0 !important}
.none{display:none !important}
.no_border{border:none !important}
.no_borderL{border-left:none !important}

.mt30{ margin-top:30px !important;}

/* Skip Navigation */
#skipToContent{position:relative;overflow:hidden;width:100%;margin:0 auto;z-index:100}
#skipToContent a{display:block;height:1px;margin-top:-2px;overflow:hidden;text-align:center;font-size:0;line-height:0;background:#333}
#skipToContent a:active,#skipToContent a:focus{height:auto;padding:7px 0;font-size:0;font-size:1em;line-height:1;font-weight:bold;color:#fff;z-index:10000}
